@charset "UTF-8";

body{
    background-image: none;
    background-color:#CC8374 ;
}


nav > div{
display: flex;
border-bottom: 1px solid #ecd7c477;

}
#logo{
padding-right: 5vw;
padding-top: 2vw;
padding-left: 2vw;
}
a{
padding-left: 2vw;
padding-top: 6vw;
color: white;
text-decoration: none;
font-size: 13px;
}
main{
    display: flex;
    border-width: 3px;
     border-bottom-style: solid;
     border-image: linear-gradient(to right, rgba(255, 0, 0, 0),rgba(255, 0, 0, 0), #ecd7c477, rgba(255, 0, 0, 0) , rgba(255, 0, 0, 0)) 1;
}
main > div{
    width: 200px;
}
h1{
font-family: fantasy;
padding: 8vw 10vw 2vw 10vw;
font-size: 40px;
}
p{
color: rgba(255, 255, 255, 0.815);
padding: 0px 0px 5vw 10vw;
font-size: 15px;
}
main > div > a{
color: black;
background-color: white;
border-radius: 10px;
margin-left: 9vw;
font-size: 10px;
}
div#img{
padding-left: 10vw;
width: 100px;
}
main > div > img{
width: 50vw;
}
aside{
    text-align: justify;
    color: rgba(255, 255, 255, 0.808);
    font-size: 10px;
    padding: 2vw;
   }
   ol{
    list-style-position: inside;
   }
   li{
    padding: 1vw 0px 0px 0px;
   }
   footer{
    text-align: center;
    border-top: 1px solid #ecd7c477;
    padding-top: 6vw;
   }
   footer>img{
    width: 40vw;
   }